@import url('./login.css');
@import url('./register.css');

@import url('./index.css');
@import url('./components.css');
@import url('./settings.css');
@import url('./forgot-password.css');
/*@import url('./reset-password.css');*/

@import url('./appointments.css');
@import url('./backup.css');
@import url('./classes.css');
@import url('./confirm-password.css');
@import url('./disciplines.css');
@import url('./disciplines-list.css');
@import url('./pdf.css');
@import url('./professors.css');
@import url('./professors-create.css');
@import url('./users.css');
@import url('./users-create.css');
@import url('./resources.css');
@import url('./resources-create.css');
@import url('./laboratories.css');
@import url('./profile.css');
@import url('./reports.css');
@import url('./notifications.css');
@import url('./schools.css');
@import url('./users-create.css');
@import url('./users.css');

@import url('./error.css');


/* DIRETIVAS DO TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;
