@import url('./login.css');
@import url('./register.css');

@import url('./index.css');
@import url('./components.css');
@import url('./settings.css');

@import url('./disciplines.css');
@import url('./disciplines-list.css');
@import url('./professors.css');
@import url('./professors-create.css');
@import url('./users.css');
@import url('./users-create.css');
@import url('./resources.css');
@import url('./resources-create.css');
@import url('./laboratories.css');
@import url('./reports.css');
@import url('./notifications.css');
@import url('./schools.css');


/* DIRETIVAS DO TAILWIND CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;
