:root {
  --verde-fundo: #deece7;
  --branco-principal: #ffffff;
  --verde-principal: #5fb13b;
  --azul-principal: #0169b4;
  --verde-secundario: #313a22;
  --cinza-texto: #444444;
  --vermelho-erro: #d9534f;
  
  --verde-sucesso-fundo: #d4edda;
  --verde-sucesso-texto: #155724;
  --vermelho-erro-fundo: #f8d7da;
  --vermelho-erro-texto: #721c24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verde-fundo);
  font-family: "Arial", sans-serif;
  color: var(--cinza-texto);
}

.container {
  width: 90%;
  max-width: 900px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap; 
  justify-content: center;
}

.box {
  background-color: var(--branco-principal);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  width: 100%;
  max-width: 400px; 
}

.box h2 {
  color: var(--azul-principal);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.box form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.box label {
  font-size: 0.9rem;
  font-weight: 600;
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 1rem;
}

.password-wrapper {
    position: relative;
    display: flex;
    width: 100%;
}

.password-wrapper input {
    flex: 1;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    z-index: 2;
    transition: color 0.2s;
}

.toggle-password:hover {
    color: var(--verde-principal);
}

.box input[type="text"]::placeholder,
.box input[type="email"]::placeholder,
.box input[type="password"]::placeholder {
  color: #999;
}

.box .btn {
  margin-top: 8px;
  padding: 12px;
  background-color: var(--verde-principal);
  border: none;
  border-radius: 4px;
  color: var(--branco-principal);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.box .btn:hover {
  background-color: var(--verde-secundario);
}

.box p {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
}

.box p a {
  color: var(--azul-principal);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

.box p a:hover {
  text-decoration: underline;
  color: var(--verde-principal);
}

.alert {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  text-align: center;
  font-size: 0.9rem;
}

.alert-success {
  color: var(--verde-sucesso-texto); 
  background-color: var(--verde-sucesso-fundo); 
  border-color: var(--verde-principal); 
}

.alert-danger {
  color: var(--vermelho-erro-texto); 
  background-color: var(--vermelho-erro-fundo); 
  border-color: var(--vermelho-erro); 
}