body {
    font-family: DejaVu Sans, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #0169b4;
}